.banner-container{
    display:flex;
    flex-flow: row;
    justify-content: center;
}

.banner-container img{
    border-radius: 10px;
    box-shadow: 0 0 8px 8px white inset;
    width: 100%;
}

body{
    background-color: #e0e0e0;
}

.main{
    background-color: #cacaca;
}