body, html{
    height: 100%;
}

.bg-overlay {
    background-color: rgba(223, 223, 223, 0.555);
    border-left: 1px solid black;
    border-right: 1px solid black;
    left: 50%;
    z-index: 2;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}

@media screen and (min-width: 1921px) {
    .bg-overlay{
        margin-top: 0%;
    }
}

@media screen and (min-width: 1000px) {
    .bg-overlay{
        margin-top: 3%;
    }
}

@media screen and (max-width: 768px) {
    .bg-overlay{
        width: 95%;
        margin-top: 6%;
    }
}

@media screen and (max-width: 550px) {
    .bg-overlay{
        width: 98%;
        margin-top: 9%;
    }
}

@media screen and (max-width: 768px) {
    .bg-overlay{
        margin-top: 9%;
    }
}

@media screen and (max-width: 360px) {
    .navbar-brand{
        font-size: 15px;
    }
    .bg-overlay{
        margin-top: 15%;
    }
}


.dept-overview{
    border-bottom: 1px solid black;
    padding-bottom: 9px;
}

.dept-details{
    margin-top: 1%;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
}

.alt-details{
    margin-top: 1%;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding-bottom: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.alt-details h3{
    align-self: center;
}

.bg {
    background-image: url("../images/big_blur.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    min-height: 100%;
}

.splash-header {
    color: #007bff;
    font-size: 6vw;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    left: 50%;
}

.community-overview-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.community-overview {
    width: 85%;
    align-self: center;
    margin-top: 3%;
    display: flex;
    flex-flow: column nowrap;
}

.splash-text {
    margin-top: 5px;
    font-size:22px;
    color: #003063;
    text-align: left;
    text-shadow: 1px 1px 1px #003063;
    font-weight: bold;
    align-self: center;
}

@media screen and (min-width:847px) and (max-width:991px) {
    .splash-text{
        font-size: 20px;
    }
}

@media screen and (min-width:673px) and (max-width:845px) {
    .bg-text > h1{
        top: 25%;
        font-size:25px;
    }
    .bg-text > h2{
        font-size:16px;
        top: 29%;
    }
    .bg-text >p{
        font-size:12px;
        top:36%;
    }
    .bg-image {
        height:400px;
    }
    .splash-text{
        font-size: 18px;
    }
}

@media screen and (min-width:639px) and (max-width:672px) {
    .bg-text > h1{
        font-size:25px;
        top:23%;
    }
    .bg-text > h2{
        top:28%;
        font-size:15px;
    }
    .bg-text >p{
        font-size:11px;
        top:36%;
    }
    .bg-image {
        height:410px;
    }
    .splash-text{
        font-size: 16px;
    }
    .about-text{
        font-size:13px;
    }
}

@media screen and (min-width:570px) and (max-width:638px) {
    .bg-text > h1{
        font-size:22px;
        top:28%;
    }
    .bg-text > h2{
        top:32%;
        font-size:15px;
    }
    .bg-text >p{
        font-size:11px;
        top:39%;
    }
    .bg-image {
        height:420px;
    }
    .splash-text{
        font-size: 15px;
    }
}

@media screen and (max-width:569px) {
    .splash-text{
        font-size: 15px;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
  }
  
  @media screen and (max-width: 360px) {
      .centered{
         top: 55%; 
         width: 100%;
      }
  }

.department-top-wrapper{
    display: flex;
    flex-flow: column wrap;
}

.department-head{
    padding-top: 1%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
}

.department-head h1, h2{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.dept-join h3 {
    align-self: center;
    text-align: center;
}

.dept-join p{
    font-size: 20px;
    align-self:center;
    text-align: center;
}

.dept-join a{
    align-self:center;
    text-align: center;
}

.mission-v-align {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.mission h3{
    text-align: center;
    font-size: 35px;
}

.mission p{
    font-size: 20px;
    text-align: center;
}

.mission {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.department-subdivisions h3{
    text-align: center;
    font-size: 35px;
}

.department-subdivisions p{
    font-size: 20px;
    text-align: center;
}

.subdivision-list p{
    font-size: 20px;
    text-align: center;
}

.dept-join{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 1%;
}

.dept-reqs{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-top: 1%;
}

.dept-reqs h3 {
    align-self: center;
    text-align: center;
    font-size: 35px;
}

.dept-reqs li{
    font-size: 20px;
    align-self:center;
}

.dept-reqs ul{
    margin-top: 2%;
}

.dept-reqs li{
    font-size: 20px;
}



@media screen and (max-width: 783px) {
    .department-head h1{
        font-size: 32px;
    }
    .department-head h2{
        font-size: 27px;
    }
    .department-ranks h3{
        font-size: 24px;
    }
    .department-ranks h5{
        font-size: 18px;
    }
    .mission h3{
        font-size: 24px;
    }
    .mission p{
        font-size: 18px;
    }
    .department-subdivisions h3{
        font-size: 24px;
    }
    .department-subdivisions p{
        font-size: 18px;
    }
    .subdivision-list p{
        font-size: 18px;
    }
    .dept-reqs h3{
        font-size: 24px;
    }
    .dept-reqs li{
        font-size: 18px;
    }
    .dept-join h3{
        font-size: 24px;
    }
    .dept-join p{
        font-size: 18px;
    }
}


@media screen and (max-width: 783px) {
    .department-head h1{
        font-size: 32px;
    }
    .department-head h2{
        font-size: 27px;
    }
}

@media screen and (max-width: 548px) {
    .department-head h1{
        font-size: 25px;
    }
    .department-head h2{
        font-size: 21px;
    }
}

@media screen and (max-width: 435px) {
    .department-head h1{
        font-size: 22px;
    }
    .department-head h2{
        font-size: 19px;
    }
    .department-ranks h3{
        font-size: 20px;
    }
    .mission h3{
        font-size: 20px;
    }
    .mission p{
        font-size: 16px;
    }
    .department-subdivisions h3{
        font-size: 20px;
    }
    .subdivision-list p{
        font-size: 16px;
    }
    .department-subdivisions p{
        font-size: 16px;
    }
    .department-ranks h5{
        font-size: 17px;
    }
    .dept-reqs h3{
        font-size: 20px;
    }
    .dept-reqs li{
        font-size: 16px;
    }
    .dept-join h3{
        font-size: 20px;
    }
    .dept-join p{
        font-size: 16px;
    }
}

.department-ranks {
    margin-top: 4%;
}

.department-ranks h3{
    text-align: center;
}

.department-ranks h5{
    text-align: center;
}

.department-ranks span{
    text-align: center;
}

.department-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.department-img img{
    width: 100%;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.department-carousel{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .department-carousel{
        width: 95%;
    }
}

.department-carousel img{
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

@media screen and (max-width: 1199px) {
    .department-img img{
        width: 80%;
    }
}